<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .Hi{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: rgb(158, 80, 214);}
            body {
                padding: 25px;
                background-color: white;
                 color: black;
                font-size: 25px;}
            .button{
                padding: 15px 25px;
                font-size: 24px;
                text-align: center;
                cursor: pointer;
                outline: none;
                color: #fff;
                background-color: #4CAF50;
                border: none;
                border-radius: 15px;
                box-shadow: 0 9px #999;
}


.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#pin{
  font-style: italic;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: whitesmoke;

}

#dow{
    font-style: inherit;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: lavenderblush;
}
.bod {
  background-image: url("https://wallpaper.dog/large/961978.jpg")}

#up{

    font-style: inherit;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: lavenderblush;


}

.ee{
    font-style: inherit;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: palevioletred;
    
}
    </style>
    <title>Speed-Test</title>
</head>
<body class="bod">
    <h1 class="Hi">Welcome To Speed-Test</h1>
    <form action="/send" method="POST">

    <div class="in">
        <button class="button">Click Me</button>
    </div>
    <div >
        <p class="ee">please Wait for 25-sec</p>
    </div>
    <div>
        <p id = "pin">PING = {{ping}} MS</p>
        <p id = "dow">DOWNLOAD_SPEED = {{download}} MB</p>
        <p id="up">UPLOAD_SPEED = {{upload}} MB</p>
    </div>    
    </form>
</body>
</html>